[submodule "backend"]
	path = backend
	url = https://github.com/Publicis-Hackathon/hackathon-fibo.git

[submodule "frontend"]
    path = lovable-frontend
    url = https://github.com/Publicis-Hackathon/lovable-frontend.git